In [16]:
import openpyxl
import pandas as pd
import json
import yaml

In [17]:
filename = "test.xlsx"
book = openpyxl.load_workbook(filename)
#sheet = book.worksheets[0]
sheets = book.worksheets

In [18]:
data = []
for sheet in sheets :
    for row in sheet.rows:
        data.append([row[1].value, row[2].value])
del data[:8]

In [19]:
dataf = pd.DataFrame()
for index, row in enumerate(data) :
    if row[0] == None or row[1] == '조  치  사  항' :
        del data[index]
        continue
    dataf.at[index, 'nation_kr'] = row[0]
    dataf.at[index, 'detail'] = row[1]
dataf = dataf.reset_index(drop = True)

In [20]:
filename = "ISO국가코드.xlsx"
book = openpyxl.load_workbook(filename)
sheet = book.worksheets[0]
countries = []
for row in sheet.rows:
    countries.append([row[3].value, row[1].value])
del countries[:4]

countries = dict(countries)

In [21]:
for index, row in enumerate(data) :
    if row[0] in countries : 
        dataf.at[index, 'nation_eng'] = countries[row[0]]
        dataf.at[index, 'marker'] = False
    else:
        dataf.at[index, 'marker'] = True
dataf

,nation_kr,detail,nation_eng,marker
0,나우루,"▸입국 전 21일 이내 한국, 중국, 홍콩, 마카오, 이탈리아를 방...",NRU,False
1,마셜제도,"▸2019.12.31. 이후 한국, 중국, 홍콩, 마카오, 이탈리아, ...",NaN,True
2,마이크로 네시아,▸입국 전 14일 이내 한국 등을 방문 후 입국한 외국인 대상 ...,NaN,True
3,몽골,"▸2.27.-3.11. 간 입국 전 14일 이내 한국, 중국, 이탈리...",MNG,False
4,바누아투,"▸입국 전 14일 이내 한국, 중국, 대만, 홍콩, 마카오, 일본,...",VUT,False
...,...,...,...,...
212,NaN,NaN,MDV,False
213,NaN,NaN,MMR,False
214,NaN,NaN,IDN,False
215,NaN,NaN,JPN,False
216,NaN,NaN,PHL,False

In [22]:
dataf.to_csv('output.csv')